@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: whitesmoke;
  background-color: #000C18;
}

:root {
  --primary-color: #001021;
  --secondary-color: #000C18;
  --accent-color: #00FF23;
}