* {
    top: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/* Color Varibles */
$primary-color-blue : #001021;
$primary-color-blue-light : #001934;
$primary-color-blue-dark: #000912;
$secondary-color-green: #022F2F;
$secondary-color-green-light: #023939;
$secondary-color-green-lightest: #034748;

/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Raleway:wght@400;700;900&display=swap');
$header-font: 'Monoton', cursive;
$paragraph-font: 'Raleway', sans-serif;

body {
    font-family: $paragraph-font;
    margin: 0;
    padding: 0;
}

    .navbar {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        background-color: $primary-color-blue;
        color: white;
        font-family: $paragraph-font;
            @media (max-width: 550px) {
                flex-direction: column;
                align-items: flex-start;
        }
        .brand-title {
            font-weight: 900; 
            color: white;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin: .5rem;
        }
        .toggle-button {
            position: absolute;
            top: .75rem;
            right: 1rem;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 21px;
                @media (max-width: 550px) {
                    display: flex;
                }
    
        } 
        .toggle-button .bar {
            height: 3px;
            width: 100%;
            background-color: white;
            border-radius: 10px;
    
            }

        .nav-links {
            height: 100%;
            @media (max-width: 550px) {
                display: none;
                width: 100%;
            }
        }
        .nav-links li {
            list-style-type: none;
            @media (max-width: 550px){
                text-align: center;
            }
        }
        .nav-links li a {
            display: block;
            text-decoration: none;
            color: white;
            padding: 1rem;
            @media (max-width: 550px) {
                padding: .5rem 1rem;
            }
        }
        .nav-links li:hover {
            background-color: $primary-color-blue-light;
        }
    
        .nav-links ul {
            display: flex;
            margin: 0;
            padding: 0;
            @media (max-width: 550px) {
               flex-direction: column;
               width: 100%;
            }
            .nav-links ul li {
                @media (max-width: 550px){
                    text-align: center;
                }
            }
    
        }
        .nav-links.active {
            @media (max-width: 550px){
                display: flex;
            }
        }
        
    }


    #hero-section {
    background-color: $secondary-color-green;
    background-image: linear-gradient($primary-color-blue, $secondary-color-green);
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center; 
    @media only screen and (max-width: 800px) {
        height: 800px;
        }          
    }
    #hero-header-text {
        font-family: 'Monoton';
        font-size: 80px;
        color: white;
        letter-spacing: 6px;
        text-transform: uppercase;
        margin-bottom: 50px;
        @media only screen and (max-width: 900px) {
            font-size: 50px;
            @media only screen and (max-width: 400px) {
                font-size: 30px;
            }
       }
    }
    #hero-buttons {
      display: grid;  
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      @media only screen and (max-width: 450px) {
        grid-template-columns: 1fr;
    } 
    a:visited,  a:link {
        text-decoration: none;
        color: white;
    }

    }
        .hero-btn {
            border: $secondary-color-green-lightest solid 5px;
            padding: 20px 70px;
            border-radius: 10px;
            background-color: transparent;
            color: white;
            text-transform: uppercase;
            font-size: 1.5vw;
            @media only screen and (max-width: 450px) {
                font-size: 15px;
            }
        
    
        }
    #About {
        background-color: $secondary-color-green;
        background-image: linear-gradient($secondary-color-green, $secondary-color-green-lightest);
        height: 1000px;
        padding: 50px 100px;
        @media only screen and (max-width: 1400px) {
            height: 1700px;
            @media only screen and (max-width: 800px) {
                padding: 50px 10px;
            }


        }
        
        .section-header {
            font-family: $header-font;
            text-align: center;
            font-size: 40px;
            text-decoration: underline  5px white;
            text-transform: uppercase;
            text-underline-offset: 10px;
            color: white;
            margin-bottom: 100px;

        }
        #about-section-cards {
            display: grid;
            grid-template-columns: 450px 450px 450px;
            justify-content: space-between;
                @media only screen and (max-width: 1400px) {
                    display: grid;
                    grid-template-columns: 1fr;
                    justify-content: space-around;
                    grid-template-rows: 1fr;
                    gap: 20px;
             }
        }
        .about-card {
            text-align: center;
            background-color: $primary-color-blue;
            height: 300px;
            color: white;
            font-size: 16px;
            text-transform: uppercase;
            border-radius: 10px;

        }   
                .about-card-title {
                    
                    font-weight: bold;
                    background-color: $secondary-color-green-lightest;
                    padding: 20px;
                    border-radius: 0px 0px 10px 10px;

            }
                .about-card-text {
                    padding: 50px;
                    
            }
    }       .about-card-full {
            text-align: center;
            background-color: $primary-color-blue;
            height: 160px;
            color: white;
            font-size: 16px;
            text-transform: uppercase;
            border-radius: 10px;
            margin-top: 50px;
            @media only screen and (max-width: 1200px) {
                height: 200px;
                @media only screen and (max-width: 800px) {
                        font-size: 15px;
                }
            }
                

        }       
                .about-card-full-title {
                    margin-bottom: 10px;
                    font-weight: bold;
                    background-color: $secondary-color-green-lightest;
                    padding: 25px;
                    border-radius: 0px 0px 10px 10px;
                 
            }
                .about-card-full-list {
                    list-style-type: none;
                    display: flex;
                    justify-content: space-around;
                    padding: 30px;
                    @media only screen and (max-width: 1200px) {
                        flex-wrap: wrap;
                    }
                }




#Work {
        background-color: $secondary-color-green;
        background-image: linear-gradient($secondary-color-green-lightest, $secondary-color-green-light);
        height: 1500px;
        padding: 50px 100px;
        @media only screen and (max-width: 1250px) {
                    height: 2500px;
                    padding: 50px 50px;
                    @media only screen and (max-width: 600px) {
                        padding: 50px 10px;
                        
                
                    }
        }

    .section-header {
        font-family: $header-font;
        text-align: center;
        font-size: 40px;
        text-decoration: underline  5px white;
        text-transform: uppercase;
        text-underline-offset: 10px;
        color: white;
        margin-bottom: 100px
    }
    .work-card-full {
        background-color: $primary-color-blue;
        color: white;
        text-transform: uppercase;
        border-radius: 10px 10px;
        height: 310px;
        width: auto;
        overflow: hidden;
        @media only screen and (max-width: 450px) {
            height: 400px;
            
        }
       
    }
        .work-card-full-body {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 70px 85px 55px 60px 40px;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            @media only screen and (max-width: 450px) {
                
            }
        

        }
        .work-card-full-img {
            height: 20px;
            grid-area: 2 / 2 / span 3 / 3;
            order: 4;
            @media only screen and (max-width: 450px) {
               grid-area: 1 / 1 / 2 / 3;
               display: flex;
               
               justify-content: center;
            }
        
            
        }

        .work-card-full-title {
            font-weight: bold;
            font-size: 30px;
            grid-area: 1 / 1 / 2 / 2;
            order: 1;
            padding-left: 30px;
            padding-top: 50px;
            @media only screen and (max-width: 750px) {
                font-size: 20px;
                @media only screen and (max-width: 450px) {
                    font-size: 15px;
                    margin-top: 170px;
                }
            
            }
        
        }
        .work-card-full-desc {
            font-size: 18px;
            grid-area: 2 / 1 / 3 / 2;
            order: 2;
            padding-left: 30px;
            padding-top: 30px;
            width: 80%;
            line-height: 25px;
            @media only screen and (max-width: 1040px) {
                font-size: 15px;
                width: 100%;
                line-height: 25px;
                @media only screen and (max-width: 735px) {
                    font-size: 12px;
                    line-height: 15px;
                    @media only screen and (max-width: 450px) {
                        font-size: 10px;
                        margin-top: 150px;
                        width: 100%;
                    }
                
                }
            
            }
        
            
        }
        .work-card-full-btn {
            font-weight: bold;
            padding: 15px 30px;
            margin: 5px;
            border: none;
            border-radius: 20px;
            background-color: $primary-color-blue-dark;
            color: white;
            grid-area: 3 / 1 / 4 / 2;
            order: 3;
            width: 250px;
            @media only screen and (max-width: 950px) {
                padding: 15px 20px;
                width: 200px;
                @media only screen and (max-width: 450px) {
                    font-size: 15px;
                    padding: 20px 0px;
                    font-size: 10px;
                    width: 180px;
                    margin-top: 150px;
                    
                }
            
            }
         
        }
        .work-card-full-skills {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            background-color: $primary-color-blue-light;
            padding: 15px;
            font-style: italic;
            margin: 0px;
            grid-area: 5 / 1 / 6 / 3;
            order: 5;
            padding: 10px;
            @media only screen and (max-width: 950px) {
                font-size: 15px;
                @media only screen and (max-width: 450px) {
                    font-size: 10px;
                    padding: 20px;
                    margin-top: 90px;
                }
            
                
            }
        
        }
        .work-card-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 35px 100px;
            @media only screen and (max-width: 1250px) {
                    grid-template-columns: 1fr;
            }
        }
        .work-card {
            background-color: $primary-color-blue;
            height: 260px;
            color: white;
            border-radius: 10px;
            text-transform: uppercase;
            overflow: hidden;
            @media only screen and (max-width: 450px) {
                height: 230px;
            }
            
        
                .work-card-body {
                    display: grid;
                    grid-template-columns:  4fr 1fr;
                    grid-template-rows: 30px 50px 60px;
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    padding: 40px;
                    @media only screen and (max-width: 700px) {
                        padding: 20px;
                    }
                
                                        
                }
                .work-card-title {
                    font-weight: bold;
                    font-size: 20px;
                    grid-area: 1 / 1 / 2 / 2;
                    @media only screen and (max-width: 630px) {
                        font-size: 15px;
                        @media only screen and (max-width: 3840px) {
                            font-size: 12px;
                        }
                    
                    }
                

                    
                }
                .work-card-desc {
                    font-size: 12px;
                    width: 25em;
                    grid-area: 2 / 1 / 3 / 2;
                    @media only screen and (max-width: 600px) {
                        width: 80%;
                        @media only screen and (max-width: 450px) {
                            width: 90%;
                        }
                    }

                }
                .work-card-button, .work-card-button a {
                    font-weight: bold;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    background-color: $primary-color-blue-dark;
                    color: white;
                    width: 250px;
                    height: 50px;
                    grid-area: 3 / 1 / 4 / 2;
                    text-decoration: none;
                    @media only screen and (max-width: 600px) {
                        width: 50%;
                        height: 75%;
                        @media only screen and (max-width: 550px) {
                            font-size: 10px;
                            margin-top: 20px;
                        }
                    
                    }
                    
                    
                }
                .fa-desktop, .fa-pen, .fa-envelope {
                    font-size: 60px;
                    grid-area: 1 / 2 / 2 / 3;
                    @media only screen and (max-width: 730px) {
                        font-size: 40px;
                        padding-top: 10px;
                    }
                
                    
                    
                }
                .work-card-skills {
                    list-style-type: none;
                    display: flex;
                    font-style: italic;
                    justify-content: space-around;
                    background-color: $primary-color-blue-light;
                    padding: 10px;
                    margin: 0px;
                    @media only screen and (max-width: 700px) {
                        font-size: 12px;
                        margin-top: 50px;
                        @media only screen and (max-width: 450px) {
                            margin-top: 20px;
                            
                        }
                    }
                    
                }
                    
        }     

}
 #Contact {
    background-color: $secondary-color-green;
    background-image: linear-gradient($secondary-color-green-light, $primary-color-blue);
    height: 800px;
    padding: 50px 100px;
        @media only screen and (max-width: 600px) {
            padding: 50px 0px;
            height: 400px;
    
        }
    .section-header {
        font-family: $header-font;
        text-align: center;
        font-size: 40px;
        text-decoration: underline  3px white;
        text-transform: uppercase;
        text-underline-offset: 10px;
        color: white;
        margin-bottom: 100px;
    } 
    .contact-btn-list {
        display: flex;
        flex-direction: column;
        margin: 20px 0px;

        }

        .contact-btn {
            padding: 25px;
            margin: 10px;
            display: grid;
            grid-template-columns: 1fr 10fr;
            justify-content: center;
            text-transform: uppercase;
            background-color: $secondary-color-green-lightest;
            color: white;
            font-size: 2.5vw;
            font-weight: bold;
            text-align: center;
            border-radius: 10px;
            text-decoration: none;
            border: none;

        } .fa-envelope-open-text, .fa-linkedin, .fa-github {
            font-size: 3vw;
            
        }
    }



 #footer {
     background-color: $primary-color-blue;
     height: 250px;
     color: white;
     font-family: $header-font;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 3vw;
     text-align: center;
 }